.header{
    grid-area: h;
    text-align: center;
    background-color: aquamarine;
    /* padding: 1%; */
    /* margin: auto; */
    font-weight: bold;
    font-size: xx-large;
}
.menu
{
    background-color:darkolivegreen;
    padding: 0.5%;
    height: 30px;
    /* border-p */
    /* margin: auto; */
    /* border-style: solid; */
    /* height: 50px; */
    
}
.menu li
{
    display: inline;
    font-weight: bold;
    /* border: 2px, solid black; */
border-style: solid;
    
}
/* #column
{
    display: grid;
    grid-template-areas: 
    'a b b c';   
} */
#col1
{color: black;
    grid-area: a;
    background-color:rgb(114, 110, 110);
    width: 100%;
    height: 200px;
}
#col2
{
    color: black;
    grid-area: b;
    background-color:rgb(187, 185, 185);
    width: 100%;
    height: 200px;
}
#col3
{
    color: black;
    grid-area: c;
    background-color: rgb(244, 247, 244);
    width: 100%;
    height: 200px;
}
@ media screen and(max-width: 600px)
{
#column
{
    display: grid;
    grid-template-areas: 
    
    'h h h h'
    'a a c c'
    'b b b b'
    'f f f f'; 

}
}
{
    
}
/* @ media screen and(min-width: 600px) */
#column
{
    display: grid;
    grid-template-areas: 
    
    'h h h h'
    'a b b c'
    'f f f f'; 

}
.footer
{
    grid-area: f;
    background-color:darkolivegreen ;
    text-align: center;
    font-size:x-large;
    font-weight: bold;
}